<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AlamofireMemoryLeakSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186A96171CE19C2100E456C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186A962B1CE19C2200E456C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186A96361CE19C2200E456C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
